In [1]:
import pandas as pd
import numpy as np

In [2]:
data14 = pd.read_excel("../h1b/H-1B_Disclosure_Data_FY14.xlsx", dtype={'NAICS_CODE':str, 'NAIC_CODE':str})
data13 = pd.read_excel("../h1b/H-1B_Disclosure_Data_FY13.xlsx", dtype={'NAICS_CODE':str, 'NAIC_CODE':str})

# H-1B_Disclosure_Data_FY17.xlsx
# H-1B_Disclosure_Data_FY16.xlsx
# H-1B_Disclosure_Data_FY15.xlsx
# H-1B_Disclosure_Data_FY14.xlsx
# H-1B_Disclosure_Data_FY13.xlsx
# H-1B_Disclosure_Data_FY12.xlsx
# H-1B_Disclosure_Data_FY11.xlsx
# H-1B_Disclosure_Data_FY10.xlsx
# H-1B_Disclosure_Data_FY09.xlsx
# H-1B_Disclosure_Data_FY08.xlsx
#https://www.foreignlaborcert.doleta.gov/performancedata.cfm

In [3]:
data14.columns

Index(['LCA_CASE_NUMBER', 'STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE',
       'VISA_CLASS', 'LCA_CASE_EMPLOYMENT_START_DATE',
       'LCA_CASE_EMPLOYMENT_END_DATE', 'LCA_CASE_EMPLOYER_NAME',
       'LCA_CASE_EMPLOYER_ADDRESS', 'LCA_CASE_EMPLOYER_CITY',
       'LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_EMPLOYER_POSTAL_CODE',
       'LCA_CASE_SOC_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE',
       'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO',
       'LCA_CASE_WAGE_RATE_UNIT', 'FULL_TIME_POS', 'TOTAL_WORKERS',
       'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1',
       'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1',
       'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2',
       'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2',
       'LCA_CASE_NAICS_CODE'],
      dtype='object')

In [6]:
vdata = data14

In [21]:
zip_county = pd.read_excel("../cross-walk/ZIP_COUNTY_122017.xlsx", dtype={'zip': str, 'county': str})
georefz = zip_county[['zip', 'county']]
georefz.head()

     zip county
0  06010  09003
1  06013  09003
2  06033  09003
3  06037  09003
4  06040  09003

In [22]:
nozip_countysub = pd.read_csv("../us_county_subdivision.csv")
nozip_countysub.head()
#nozipref['WORKSITE_CNTY']= nozipref['county_name'].apply(lambda x: x.upper())
#nozipref['WORKSITE_STATE'] = nozipref['state_id'].apply(lambda x: x.upper())
#nozipref['WORKSITE_CITY'] = nozipref['city'].apply(lambda x: x.upper())

FileNotFoundError: File b'../us_county_subdivision.csv' does not exist

In [339]:
nozipref.head()
tinynozip = nozipref[['WORKSITE_CNTY', 'WORKSITE_STATE', 'WORKSITE_CITY', 'county_fips', 'city_ascii']]

In [355]:
#tinynozip[tinynozip['WORKSITE_STATE'] == 'MI']

In [143]:
#ziploc = pd.read_csv("Georeferences/zip tabulation area/2017_zip_tabulation_areas_gazetteer.txt", sep="\t", converters = {"GEOID": lambda x: str(x)})
#zipref = pd.read_excel("../cross-walk/ZIP_COUNTY_122017.xlsx", dtype={'zip': str, 'county': str})

In [144]:
#zipmatch = zipref[['zip','county']].astype(str)
#zipmatch.head()

In [7]:
len(vdata)

519504

In [8]:
vdata.columns

Index(['LCA_CASE_NUMBER', 'STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE',
       'VISA_CLASS', 'LCA_CASE_EMPLOYMENT_START_DATE',
       'LCA_CASE_EMPLOYMENT_END_DATE', 'LCA_CASE_EMPLOYER_NAME',
       'LCA_CASE_EMPLOYER_ADDRESS', 'LCA_CASE_EMPLOYER_CITY',
       'LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_EMPLOYER_POSTAL_CODE',
       'LCA_CASE_SOC_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE',
       'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO',
       'LCA_CASE_WAGE_RATE_UNIT', 'FULL_TIME_POS', 'TOTAL_WORKERS',
       'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1',
       'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1',
       'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2',
       'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2',
       'LCA_CASE_NAICS_CODE'],
      dtype='object')

In [9]:
vdata.dtypes

LCA_CASE_NUMBER                           object
STATUS                                    object
LCA_CASE_SUBMIT                   datetime64[ns]
DECISION_DATE                     datetime64[ns]
VISA_CLASS                                object
LCA_CASE_EMPLOYMENT_START_DATE    datetime64[ns]
LCA_CASE_EMPLOYMENT_END_DATE      datetime64[ns]
LCA_CASE_EMPLOYER_NAME                    object
LCA_CASE_EMPLOYER_ADDRESS                 object
LCA_CASE_EMPLOYER_CITY                    object
LCA_CASE_EMPLOYER_STATE                   object
LCA_CASE_EMPLOYER_POSTAL_CODE             object
LCA_CASE_SOC_CODE                         object
LCA_CASE_SOC_NAME                         object
LCA_CASE_JOB_TITLE                        object
LCA_CASE_WAGE_RATE_FROM                  float64
LCA_CASE_WAGE_RATE_TO                    float64
LCA_CASE_WAGE_RATE_UNIT                   object
FULL_TIME_POS                             object
TOTAL_WORKERS                            float64
LCA_CASE_WORKLOC1_CITY                    object
LCA_CASE_WORKLOC1_STATE                   object
PW_1                                     float64
PW_UNIT_1                                 object
PW_SOURCE_1                               object
OTHER_WAGE_SOURCE_1                       object
YR_SOURCE_PUB_1                          float64
LCA_CASE_WORKLOC2_CITY                    object
LCA_CASE_WORKLOC2_STATE                   object
PW_2                                     float64
PW_UNIT_2                                 object
PW_SOURCE_2                               object
OTHER_WAGE_SOURCE_2                       object
YR_SOURCE_PUB_2                           object
LCA_CASE_NAICS_CODE                      float64
dtype: object

In [280]:
vdata.describe()

,LCA_CASE_WAGE_RATE_FROM,LCA_CASE_WAGE_RATE_TO,TOTAL_WORKERS,PW_1,YR_SOURCE_PUB_1,PW_2,LCA_CASE_NAICS_CODE
count,5.194680e+05,1.029320e+05,519501.000000,5.194200e+05,519420.000000,8.390900e+04,5.194790e+05
mean,9.221640e+04,1.043534e+05,1.949748,6.965971e+04,2013.236471,7.894272e+04,4.728886e+05
std,1.017462e+07,6.716618e+04,5.843326,1.536002e+06,2.864144,2.458163e+06,1.604127e+06
min,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000,0.000000e+00,1.100000e+01
25%,6.000000e+04,7.669000e+04,1.000000,5.222900e+04,2013.000000,5.277000e+04,5.182100e+05
50%,7.000000e+04,1.000000e+05,1.000000,6.333600e+04,2013.000000,6.256600e+04,5.415110e+05
75%,9.000000e+04,1.269112e+05,1.000000,7.968000e+04,2014.000000,7.737600e+04,5.415110e+05
max,7.278873e+09,1.000003e+07,2013.000000,8.201323e+08,2014.000000,6.036204e+08,8.129908e+08

In [260]:
#vdata[['LCA_CASE_WAGE_RATE_FROM','LCA_CASE_WAGE_RATE_TO','PW_1']] #!= vdata['LCA_CASE_EMPLOYER_CITY']]

In [10]:
#np.isfinite(vdata['LCA_CASE_WAGE_RATE_TO'])
vdata['LCA_CASE_WAGE_RATE_UNIT'].unique()

array(['Year', 'Hour', nan, 'Week', 'Month', 'Bi-Weekly'], dtype=object)

In [11]:
#h1ba = h1bdat
#list(h1bdat)

#case number
vdata['CASE_NUMBER'] = vdata['LCA_CASE_NUMBER']
#case status
vdata['CASE_STATUS'] = vdata['STATUS'].astype('category')
#visa type
vdata['VISA_CLASS'] = vdata['VISA_CLASS'].astype('category')
#4-digit naics code for the employement
vdata['NAIC_CODE'] = vdata['LCA_CASE_NAICS_CODE'].astype('str')
vdata['NAICS4'] = vdata['NAIC_CODE'].apply(lambda x: x[:4])
#payunit
vdata['PAYUNIT'] = vdata['LCA_CASE_WAGE_RATE_UNIT'].astype('category')
#employer location
vdata['EMPLOYER_POSTAL_CODE'] = vdata['LCA_CASE_EMPLOYER_POSTAL_CODE']
#job title
vdata['JOB_TITLE'] = vdata['LCA_CASE_JOB_TITLE']
#worksite city/state (when zipcodes not available)
vdata['WORKSITE_CITY'] = vdata['LCA_CASE_WORKLOC1_CITY']
vdata['WORKSITE_STATE'] = vdata['LCA_CASE_WORKLOC1_STATE']
#wage 
vdata['WAGE'] = vdata['LCA_CASE_WAGE_RATE_FROM']
vdata.loc[(np.isfinite(vdata['LCA_CASE_WAGE_RATE_TO'])),'WAGE'] = 0.5* (vdata['LCA_CASE_WAGE_RATE_FROM'] + vdata['LCA_CASE_WAGE_RATE_TO'])

In [190]:
#list(visa17)

In [315]:
vdata = vdata[['CASE_NUMBER','CASE_STATUS',#'CASE_SUBMITTED',
               'VISA_CLASS','EMPLOYER_POSTAL_CODE','NAICS4','TOTAL_WORKERS','WORKSITE_CITY', 'WORKSITE_STATE',
                'WAGE', 'PAYUNIT']] 
#'ORIGINAL_CERT_DATE', #'EMPLOYMENT_START_DATE','EMPLOYMENT_END_DATE','EMPLOYER_NAME','WORKSITE_POSTAL_CODE','JOB_TITLE',

In [212]:
#vdata.head()
#vdata['TOTAL_WORKERS'] = vdata['TOTAL WORKERS']

In [287]:
vdata.dtypes

CASE_NUMBER               object
CASE_STATUS             category
VISA_CLASS              category
EMPLOYER_POSTAL_CODE      object
NAICS4                    object
TOTAL_WORKERS            float64
WORKSITE_CITY             object
WORKSITE_STATE            object
WAGE                     float64
PAYUNIT                 category
dtype: object

In [214]:
#vdata.groupby(['VISA_CLASS','CASE_STATUS']).agg(['mean','count'])

In [215]:
#vdata.groupby(['CASE_STATUS','VISA_CLASS']).agg(['mean','count'])

In [316]:
### WHEN EMEPLOYER ZIPCODE AVAILABLE 
#join/merging to get clean state fips of employer for each records
vdataem = pd.merge(vdata, zipmatch, how = 'left', left_on='EMPLOYER_POSTAL_CODE', right_on='zip', validate="m:m")
vdataem = vdataem.rename(columns = {'zip': 'EMP_ZIP', 'county': 'EMP_CNTY'})

In [217]:
## WHEN WORKSITE ZIPCODE AVAILABLE 
#vdataewm = pd.merge(vdataem, zipmatch, how = 'left', left_on=['WORKSITE_POSTAL_CODE'] , right_on='zip' , validate="m:m")
#vdatafull = vdataewm.rename(columns = {'zip': 'WORK_ZIP', 'county': 'WORK_CNTY'})

In [ ]:
vdataewm['WORKSITE_CITYSTATE'] = vdataewm['WORKSITE_CITY'] + ', ' + vdataewm['WORKSITE_STATE']
tinynozip['WORKSITE_CITYSTATE'] = tinynozip['WORKSITE_CITY'] + ', ' + tinynozip['WORKSITE_STATE']

In [ ]:
vdataewm.loc[vdataewm['WORKSITE_CNTY'].isnull(), 'WORKSTIE_CITYSTATE2'] = 'test'
vdataewm['WORKSITE_CITYSTATE'] = vdataewm['WORKSITE_CITYSTATE'].astype(str)

In [ ]:
vdataaewm.loc[(vdataewm[''])]

In [436]:
vdataewm.loc[(vdataewm['WORKSTIE_CITYSTATE2'] == 'test'), 'WORKSTIE_CITYSTATE2'] = vdataewm['WORKSITE_CITYSTATE'].apply(lambda x: difflib.get_close_matches(x, tinynozip['WORKSITE_CITYSTATE']))

KeyboardInterrupt:

In [417]:
#tinynozip.head()

,WORKSITE_CNTY,WORKSITE_STATE,WORKSITE_CITY,county_fips,city_ascii,WORKSITE_CITYSTATE
0,PIERCE,WA,PRAIRIE RIDGE,53053,Prairie Ridge,"PRAIRIE RIDGE, WA"
1,SKAGIT,WA,EDISON,53057,Edison,"EDISON, WA"
2,LEWIS,WA,PACKWOOD,53041,Packwood,"PACKWOOD, WA"
3,KITSAP,WA,WAUTAUGA BEACH,53035,Wautauga Beach,"WAUTAUGA BEACH, WA"
4,KITSAP,WA,HARPER,53035,Harper,"HARPER, WA"

In [340]:
## WHEN WORKSITE ZIPCODE NOT AVAILABLE 
vdataewm = pd.merge(vdataem, tinynozip, how = 'left', on=['WORKSITE_CITY', 'WORKSITE_STATE'], validate="m:m")
vdatafull = vdataewm.rename(columns = {'county': 'WORK_CNTY'})

In [357]:
#nonmatches = vdatafull[vdatafull['WORKSITE_CNTY'].isnull()]

In [356]:
#import requests 
#import json

In [363]:
#nonmatches['citystate'] = nonmatches['WORKSITE_CITY'] + ', ' + nonmatches['WORKSITE_STATE']
#nonmatches.head()

,CASE_NUMBER,CASE_STATUS,VISA_CLASS,EMPLOYER_POSTAL_CODE,NAICS4,TOTAL_WORKERS,WORKSITE_CITY,WORKSITE_STATE,WAGE,PAYUNIT,EMP_ZIP,EMP_CNTY,WORKSITE_CNTY,county_fips,city_ascii,citystate
5,I-200-09182-550211,DENIED,H-1B,55802,5413,1.0,FARG,WI,50000.0,Year,55802,27137,NaN,NaN,NaN,"FARG, WI"
17,I-200-09216-104957,WITHDRAWN,H-1B,08816,4242,1.0,EAST BRUNSWICK,NJ,53000.0,Year,08816,34023,NaN,NaN,NaN,"EAST BRUNSWICK, NJ"
21,I-200-09230-596710,CERTIFIED,H-1B,22031-4666,5413,1.0,BLOOMFIELD,NJ,78083.2,Year,NaN,NaN,NaN,NaN,NaN,"BLOOMFIELD, NJ"
45,I-200-09288-856378,CERTIFIED,H-1B,01720,5415,1.0,BEDFORD,MA,113983.5,Year,01720,25017,NaN,NaN,NaN,"BEDFORD, MA"
51,I-200-09306-261972,CERTIFIED,H-1B,08837,5415,1.0,ST. LOUIS,MO,48464.0,Year,08837,34023,NaN,NaN,NaN,"ST. LOUIS, MO"

In [364]:
#city_data_url = 'http://api.sba.gov/geodata/primary_links_for_city_of/%s/%s.json'

In [412]:
import difflib

In [413]:
difflib.get_close_matches

In [372]:
nonmatches.head()

,CASE_NUMBER,CASE_STATUS,VISA_CLASS,EMPLOYER_POSTAL_CODE,NAICS4,TOTAL_WORKERS,WORKSITE_CITY,WORKSITE_STATE,WAGE,PAYUNIT,EMP_ZIP,EMP_CNTY,WORKSITE_CNTY,county_fips,city_ascii,citystate,NEWCOUNTY_MATCH
5,I-200-09182-550211,DENIED,H-1B,55802,5413,1.0,FARG,WI,50000.0,Year,55802,27137,NaN,NaN,NaN,"FARG, WI",NaN
17,I-200-09216-104957,WITHDRAWN,H-1B,08816,4242,1.0,EAST BRUNSWICK,NJ,53000.0,Year,08816,34023,NaN,NaN,NaN,"EAST BRUNSWICK, NJ",NaN
21,I-200-09230-596710,CERTIFIED,H-1B,22031-4666,5413,1.0,BLOOMFIELD,NJ,78083.2,Year,NaN,NaN,NaN,NaN,NaN,"BLOOMFIELD, NJ",NaN
45,I-200-09288-856378,CERTIFIED,H-1B,01720,5415,1.0,BEDFORD,MA,113983.5,Year,01720,25017,NaN,NaN,NaN,"BEDFORD, MA",NaN
51,I-200-09306-261972,CERTIFIED,H-1B,08837,5415,1.0,ST. LOUIS,MO,48464.0,Year,08837,34023,NaN,NaN,NaN,"ST. LOUIS, MO",NaN

In [322]:
###START HERE; import county fips lookup table and assign fips code instead of using the county names
###
###
###
vdatafull['WORKSITE_CNTY']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
         ...
632275    NaN
632276    NaN
632277    NaN
632278    NaN
632279    NaN
632280    NaN
632281    NaN
632282    NaN
632283    NaN
632284    NaN
632285    NaN
632286    NaN
632287    NaN
632288    NaN
632289    NaN
632290    NaN
632291    NaN
632292    NaN
632293    NaN
632294    NaN
632295    NaN
632296    NaN
632297    NaN
632298    NaN
632299    NaN
632300    NaN
632301    NaN
632302    NaN
632303    NaN
632304    NaN
Name: WORKSITE_CNTY, Length: 632305, dtype: object

In [290]:
#normaling wages 
#visa17all['PW_UNIT_OF_PAY'].unique() 
# [Year, Hour, Month, NaN, Week, Bi-Weekly]
# hourly: x40 x52
# Month: x12
# Week: x52
# Bi-Weekly: x26
vdatafull.loc[(vdatafull['PAYUNIT'] =='Year'),'YrSalary'] = vdatafull['WAGE']

In [291]:
vdatafull.loc[(vdatafull['PAYUNIT'] =='Hour'),'YrSalary'] = vdatafull['WAGE']*40*52

In [292]:
vdatafull.loc[(vdatafull['PAYUNIT'] =='Week'),'YrSalary'] = vdatafull['WAGE']*52

In [293]:
vdatafull.loc[(vdatafull['PAYUNIT'] =='Bi-Weekly'),'YrSalary'] = vdatafull['WAGE']*26

In [294]:
vdatafull.dtypes

CASE_NUMBER               object
CASE_STATUS             category
VISA_CLASS              category
EMPLOYER_POSTAL_CODE      object
NAICS4                    object
TOTAL_WORKERS            float64
WORKSITE_CITY             object
WORKSITE_STATE            object
WAGE                     float64
PAYUNIT                 category
EMP_ZIP                   object
EMP_CNTY                  object
zip_code                 float64
latitude                 float64
longitude                float64
city                      object
state                     object
WORK_CNTY                 object
YrSalary                 float64
dtype: object

In [295]:
vdatafull.loc[(vdatafull['CASE_STATUS'] =='DENIED'), 'RESULT'] = 'DENIED'
vdatafull.loc[(vdatafull['CASE_STATUS'] =='CERTIFIED'), 'RESULT'] = 'CERTIFIED'
vdatafull.loc[(vdatafull['CASE_STATUS'] =='CERTIFIED-WITHDRAWN'), 'RESULT'] = 'CERTIFIED'
vdatafull.loc[(vdatafull['CASE_STATUS'] =='WITHDRAWN'), 'RESULT'] = 'DROP'

In [296]:
vdatafull = vdatafull[vdatafull['RESULT'] != 'DROP']

In [297]:
h1bbyEmpCounty = vdatafull.groupby(['EMP_CNTY','RESULT']).agg({'TOTAL_WORKERS': np.sum,'YrSalary': [np.sum, np.mean], 'NAICS4': (lambda x: x.value_counts().index[0])})
#PREVAILING_WAGE, PW_UNITS_OF_PAY

In [ ]:
$$$$$$$

In [229]:
h1bbyWorkCounty = vdatafull.groupby(['WORK_CNTY','RESULT']).agg({'TOTAL_WORKERS': np.sum,'YrSalary': [np.sum, np.mean], 'NAICS4': (lambda x: x.value_counts().index[0])})

In [230]:
h1bbyWorkCounty.columns = ["_".join(x) for x in h1bbyWorkCounty.columns.ravel()]
h1bbyEmpCounty.columns = ["_".join(x) for x in h1bbyEmpCounty.columns.ravel()]

In [231]:
h1bbyWorkCounty = h1bbyWorkCounty.rename(columns = {'TOTAL_WORKERS_sum' : 'tot_workers', 'YrSalary_sum': 'all_salary', 'YrSalary_mean': 'avg_salary', 'NAICS4_<lambda>': 'naics4'})
h1bbyEmpCounty = h1bbyEmpCounty.rename(columns = {'TOTAL_WORKERS_sum' : 'tot_workers', 'YrSalary_sum': 'all_salary', 'YrSalary_mean': 'avg_salary', 'NAICS4_<lambda>': 'naics4'})

In [232]:
h1bbyWorkCounty['index'] = h1bbyWorkCounty.index
h1bbyEmpCounty['index'] = h1bbyEmpCounty.index

In [233]:
h1bbyWorkCounty['cfips'] = h1bbyWorkCounty['index'].apply(lambda x: x[0])
h1bbyWorkCounty['result'] = h1bbyWorkCounty['index'].apply(lambda x: x[1])

In [234]:
h1bbyEmpCounty['cfips'] = h1bbyEmpCounty['index'].apply(lambda x: x[0])
h1bbyEmpCounty['result'] = h1bbyEmpCounty['index'].apply(lambda x: x[1])

In [235]:
#list(h1bbyWorkCounty) 
#h1bbyWorkCounty['agg_salary'].apply(np.floor)

In [236]:
h1bbyWorkCounty['avg_salary'] = h1bbyWorkCounty['avg_salary'].apply(np.floor)
h1bbyEmpCounty['avg_salary'] = h1bbyEmpCounty['avg_salary'].apply(np.floor)

In [237]:
h1bbyWorkCounty['all_salary'] = h1bbyWorkCounty['all_salary'].apply(np.floor)
h1bbyEmpCounty['all_salary'] = h1bbyEmpCounty['all_salary'].apply(np.floor)

In [238]:
h1bbyWorkCounty = h1bbyWorkCounty[['cfips','result','tot_workers',
 'all_salary','avg_salary', 'naics4']]
h1bbyEmpCounty = h1bbyEmpCounty[['cfips','result','tot_workers',
 'all_salary','avg_salary', 'naics4']]

In [239]:
h1bbyWorkCounty.head()

,,cfips,result,tot_workers,all_salary,avg_salary,naics4
WORK_CNTY,RESULT,,,,,,
01001,CERTIFIED,01001,CERTIFIED,20.0,1839564.0,91978.0,6211
01003,CERTIFIED,01003,CERTIFIED,11.0,389152.0,55593.0,5415
01005,CERTIFIED,01005,CERTIFIED,3.0,351664.0,117221.0,3399
01007,CERTIFIED,01007,CERTIFIED,14.0,1021068.0,72933.0,3371
01009,CERTIFIED,01009,CERTIFIED,53.0,1097750.0,64573.0,5415

In [240]:
h1bbyWorkCounty.to_json('../prepped/h1b14Work.json', orient='records')

# ../prepped/h1b17Work.json DONE
# ../prepped/h1b16Work.json DONE
# ../prepped/h1b15Work.json DONE
# ../prepped/h1b14Work.json
# ../prepped/h1b13Work.json
# ../prepped/h1b12Work.json
# ../prepped/h1b11Work.json
# ../prepped/h1b10Work.json
# ../prepped/h1b09Work.json
# ../prepped/h1b08Work.json

In [241]:
h1bbyEmpCounty.to_json('../prepped/h1b14Emp.json', orient='records')

# ../prepped/h1b17Emp.json DONE
# ../prepped/h1b16Emp.json DONE
# ../prepped/h1b15Emp.json DONE
# ../prepped/h1b14Emp.json
# ../prepped/h1b13Emp.json
# ../prepped/h1b12Emp.json
# ../prepped/h1b11Emp.json
# ../prepped/h1b10Emp.json
# ../prepped/h1b09Emp.json
# ../prepped/h1b08Emp.json